<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head th:replace="~{fragments/head}"></head>
<body>
<div layout:fragment="content" th:with="hideHeaderLanguageSelection=true" th:remove="tag">
    <div class="container">
        <div class="alert alert-error">
            <p><strong><span th:text="#{label.error.general}" th:remove="tag"></span></strong></p>
        </div>
        <p th:if="${@taraProperties.getBackUrl(session.pac4jRequestedUrl, #locale) != '#'}" class="link-back">
            <a th:href="${@taraProperties.getBackUrl(session.pac4jRequestedUrl, #locale)}" th:text="#{label.common.back}">Back</a>
        </p>
    </div>
</div>
</body>
</html>
