<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout" th:with="hideHeaderLanguageSelection=true">
<head th:replace="~{fragments/head}"></head>
<body>
<div layout:fragment="content" th:with="hideHeaderLanguageSelection=true" th:remove="tag">
    <div class="container">
        <div class="alert alert-error" role="alert">
            <p><strong><span th:text="#{message.error.serviceLimited}" th:remove="tag"></span></strong></p>
        </div>
    </div>
</div>
</body>
</html>
