<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout" th:with="hideHeaderLanguageSelection=true">
<head th:replace="~{fragments/head}"></head>
<body>
<div layout:fragment="content" th:with="hideHeaderLanguageSelection=true" th:remove="tag">
    <div class="container">
        <div class="alert alert-error">
            <p><strong><span th:text="#{message.error.auth.title}" th:remove="tag"></span></strong></p>
            <p th:if="${TARA_ERROR_MESSAGE != null}" th:text="${TARA_ERROR_MESSAGE}"></p>
            <p th:unless="${TARA_ERROR_MESSAGE != null}" th:text="#{message.error.auth.error}"></p>
            <p th:if="${@thymeleafSupport.getCurrentRequestIdentifier(#request) != null}">
                <span th:text="#{label.error.incidentNumber}" th:remove="tag"></span>&nbsp;
                <span th:text="${@thymeleafSupport.getCurrentRequestIdentifier(#request)}" th:remove="tag"></span>
            </p>
        </div>
        <p th:if="${@thymeleafSupport.getBackUrl(session.pac4jRequestedUrl, #locale) != '#'}" class="link-back">
            <a th:href="${@thymeleafSupport.getBackUrl(session.pac4jRequestedUrl, #locale)}" th:text="#{label.common.back}">Back</a>
        </p>
    </div>
</div>
</body>
</html>
