<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{cas.login.pagetitle}"></title>
    <link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}"/>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="application/javascript" src="/js/cas.js"></script>
</head>

<body>
<div id="container">
    <div layout:fragment="content" id="content">
        <h1/>
        <p/>
    </div>
</div>
</body>
</html>
