<!-- PAGE ALERTS -->
<div class="page-alerts">
    <div class="alert alert--error alert--ie">
        <p class="title" th:text="#{label.page.alert.title}"></p>
        <p class="danger" th:text="#{label.page.alert.danger}"></p>
        <p th:text="#{label.page.alert.text}">
        </p>
    </div>
</div>
<!-- PAGE BAR -->
<div class="page-bar">
    <div class="container clear">
        <h1 th:text="#{label.title}"></h1>
    </div>
</div>
<!-- //PAGE BAR -->
<!-- PAGE WRAPPER -->
<div class="page-wrapper">
    <!-- MAIN -->
    <div class="main">
        <noscript>
            <div class="alert alert--error alert--js">
                <p>
                    <strong th:text="#{label.page.alert.js.strong}"></strong>
                <p th:text="#{label.page.alert.js.text}" th:remove="tag">
                </p>
                </p>
            </div>
        </noscript>

        <!-- ROW -->
        <div class="row col-2 clear">

            <div class="block copy">
                <div class="wrapper">
                    <form action="#" th:action="@{/idcard}" th:object="${idcard}" method="post">
                        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="idsubmit"/>
                        <input type="hidden" name="geolocation"/>
                        <h2 th:text="#{label.idcard.title}"></h2>

                        <div th:class="${icerrordiv}">
                            <h3 class="title" th:text="${icerrortitle}"></h3>
                            <p th:text="${icerrortext}"></p>
                        </div>


                        <p class="row" th:text="#{label.idcard.instruction}"></p>
                        <input type="hidden" id="idlang" name="idlang" th:value="${lang}">
                        <div class="row btns">
                            <button type="submit" id="button1" class="btn btn--primary"
                                    th:text="#{label.button}"></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="block fields">
                <div class="wrapper">
                    <form method="post" id="fm1" th:object="${credential}">
                        <h2 th:text="#{label.mobileid.title}"></h2>

                        <div th:class="${moberrordiv}" >
                            <h3 class="title"  th:text="${moberrortitle}"></h3>
                            <p th:text="${moberrortext}"></p>
                        </div>

                        <div class="row row" >
                            <label for="personalCode"><abbr title="Kohustuslik väli" class="mandatory">*</abbr><span th:text="#{label.idcode}" th:remove="tag"></span></label>

                            <input class="txt"
                                   id="personalCode"
                                   size="25"
                                   required
                                   type="number"
                                   tabindex="1"
                                   th:field="*{principalCode}"
                                   autocomplete="off"/>

                        </div>

                        <div class="row row" >
                            <label for="mobileNumber"><abbr title="Kohustuslik väli" class="mandatory">*</abbr><span th:text="#{label.phonenumber}" th:remove="tag"></span></label>

                            <input class="txt"
                                   id="mobileNumber"
                                   size="25"
                                   required
                                   tabindex="2"
                                   type="text"
                                   th:field="*{mobileNumber}"
                                   autocomplete="off"/>

                        </div>

                        <input type="hidden" id="moblang" name="moblang"   th:value="et">

                        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="submit"/>
                        <input type="hidden" name="geolocation"/>

                        <div class="row btns">
                            <button type="submit" id="button2" class="btn btn--primary" th:text="#{label.button}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="footer">
      <!--  <div class="funding">
            <p><img src="/images/logo-europe.svg" alt=""><span th:text="#{label.footer.eu1}" th:remove="tag"></span><br><span th:text="#{label.footer.eu2}" th:remove="tag"></span></p>
        </div>-->
        <div class="ria">
            <p><span th:text="#{label.footer.ria}" th:remove="tag"></span> <span id="e65842083" th:text="#{label.footer.spanid}"></span>, <a href="http://www.ria.ee" target="_blank">www.ria.ee</a></p>
        </div>
    </div>

    <!-- HIDING EMAIL -->
    <script type="text/javascript">/*<![CDATA[*/eval("var a=\"0JDYPFi93v7fsXZoc8ha-.NbMIqln2A_U1GtERdVrex5k6Op@+LzBSQuHgywWjKTC4m\";var b=a.split(\"\").sort().join(\"\");var c=\"@6BHXy+eD66\";var d=\"\";for(var e=0;e<c.length;e++)d+=b.charAt(a.indexOf(c.charAt(e)));document.getElementById(\"e65842083\").innerHTML=\"<a href=\\\"mailto:\"+d+\"\\\">\"+d+\"</a>\"")/*]]>*/</script>

</div>
