<div class="container">
    <h3 th:text="#{label.choose}"></h3>
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="method-block white row hidden-xs accordion-toggle collapsed" role="button"
                 data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                 aria-controls="collapseOne">
                <div class="col-md-3 col-sm-3">
                    <div class="id-card"></div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <h3 th:text="#{label.id.title}"></h3>
                    <p th:text="#{label.id.start}"></p>
                </div>
                <div class="col-md-1 col-sm-1">
                    <i class="fa pull-right method-chevron fa-chevron-down"></i>
                </div>
            </div>
            <div id="collapseOne" th:class="${ERROR_CHANNEL == 'IDCard'} ? 'collapse in' : 'collapse'" role="tabpanel"
                 aria-labelledby="methodIDCard" aria-expanded="false">
                <div class="block-hr hidden-xs"></div>
                <div class="white hidden-xs method-block-collapsible">
                    <div th:if="${ERROR_CHANNEL == 'IDCard'}" id="idCardErrorRow" class="row">
                        <div class="error-box">
                            <h4 class="text-red"><i class="fa fa-times-circle-o fa-fw"></i>
                                <span th:text="#{message.auth.error}" th:remove="tag"></span></h4>
                            <p th:text="${TARA_ERROR_MESSAGE}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <p th:text="#{label.id.instruction}"></p>
                            <form method="post" id="idCardForm">
                                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                                <input type="hidden" name="_eventId" value="idsubmit"/>
                                <input type="hidden" name="idlang" id="idlang" th:value="${lang}">
                                <input type="hidden" name="geolocation"/>
                                <button type="button" name="button" class="primary" th:text="#{label.button}"
                                        onclick="APP.loginByIDCard(); return false;"></button>
                            </form>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="http://id.ee/index.php?id=35803" target="_blank" class="pull-right help-link"
                               th:text="#{label.id.help}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="method-block white row accordion-toggle" role="button" data-toggle="collapse"
                 data-parent="#accordion" href="#collapseMob" aria-expanded="true" aria-controls="collapseMob">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div class="mob-id"></div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-9">
                    <h3 th:text="#{label.mid.title}"></h3>
                    <p th:text="#{label.mid.start}"></p>
                </div>
                <div class="col-md-1 col-sm-1 hidden-xs">
                    <i class="fa pull-right method-chevron fa-chevron-down"></i>
                </div>
            </div>
            <div id="collapseMob" th:class="${ERROR_CHANNEL == 'MobileID'} ? 'collapse in' : 'collapse'" role="tabpanel"
                 aria-labelledby="methodMobID" aria-expanded="false">
                <div class="block-hr"></div>
                <div class="white method-block-collapsible">
                    <div th:if="${ERROR_CHANNEL == 'MobileID'}" id="mobileIdErrorRow" class="row">
                        <div class="error-box">
                            <h4 class="text-red"><i class="fa fa-times-circle-o fa-fw"></i>
                                <span th:text="#{message.auth.error}" th:remove="tag"></span></h4>
                            <p th:text="${TARA_ERROR_MESSAGE}"></p>
                        </div>
                    </div>
                    <p th:text="#{label.mid.instruction}"></p>
                    <div class="row">
                        <form method="post" id="mobileIdForm" th:object="${credential}">
                            <div class="label-input col-md-6 col-sm-6">
                                <label for="personalCode"><span th:text="#{label.idcode}"
                                                                th:remove="tag"></span></label>
                                <input type="text" id="personalCode" placeholder="" size="25" tabindex="1"
                                       th:field="*{principalCode}" autocomplete="off" required>
                            </div>
                            <div class="label-input input-group col-md-6 col-sm-6">
                                <label for="mobileNumber"><span th:text="#{label.phonenumber}"
                                                                th:remove="tag"></span></label>
                                <span class="input-group-addon" id="basic-addon1">+372</span>
                                <input id="mobileNumber" type="text" placeholder="" aria-describedby="basic-addon1"
                                       size="25" tabindex="2" th:field="*{mobileNumber}" autocomplete="off" required>
                            </div>
                            <input type="hidden" id="moblang" name="moblang" th:value="et">
                            <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                            <input type="hidden" name="_eventId" value="submit"/>
                            <input type="hidden" name="geolocation"/>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-50">
                            <button type="button" class="primary" th:text="#{label.button}"
                                    onclick="$('#mobileIdForm').submit()"></button>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-50">
                            <a href="http://id.ee/index.php?id=35803&amp;group_id=1&amp;item=203&amp;crumbs=.203"
                               class="pull-right help-link" target="_blank" th:text="#{label.mid.help}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="text-black row icon-link">
        <i class="fa fa-chevron-left fa-fw"></i><span th:text="#{label.home}" th:remove="tag"></span>
    </a>
    <script type="application/javascript" src="/js/login.js"></script>
    <div th:replace="fragments/tarafooter">Footer</div>
</div>
<!--container -->