<div class="c-footer" xmlns:th="http://www.w3.org/1999/xhtml" >
    <div class="container">
        <div class="c-footer__row">
            <div class="c-footer__col">
                <div class="c-footer__block">
                    <div class="c-footer__block-logo">
                        <img src="assets/eu-flag.svg" alt="EU">
                    </div>
                    <div class="c-footer__block-text">
                        <p><strong th:text="#{label.footer.cef1}"></strong></p>
                        <p th:text="#{label.footer.cef2}"></p>
                    </div>
                </div>
            </div>
            <div class="c-footer__col">
                <p><a th:href="#{link.footer.about}" th:text="#{label.footer.about}" target="_blank" rel="noopener">About</a></p>
            </div>
        </div>
    </div>
</div>
