.bank-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  padding-top: 35%;
  width: 100%;
}
.bank-icon-coop {
  background-image: url(../images/banks/logo_coop.gif);
}
.bank-icon-danske {
  background-image: url(../images/banks/logo_danske.gif);
}
.bank-icon-luminor {
  background-image: url(../images/banks/logo_luminor.svg);
}
.bank-icon-lhv {
  background-image: url(../images/banks/logo_lhv.svg);
}
.bank-icon-seb {
  background-image: url(../images/banks/logo_seb.svg);
}
.bank-icon-swedbank {
  background-image: url(../images/banks/logo_swedbank.svg);
}
