.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-at {
  background-image: url(../images/flags/4x3/at.svg);
}
.flag-icon-be {
  background-image: url(../images/flags/4x3/be.svg);
}
.flag-icon-bg {
  background-image: url(../images/flags/4x3/bg.svg);
}
.flag-icon-ca {
  background-image: url(../images/flags/4x3/ca.svg);
}
.flag-icon-cb {
  background-image: url(../images/flags/4x3/cb.svg);
}
.flag-icon-cd {
  background-image: url(../images/flags/4x3/cd.svg);
}
.flag-icon-cy {
  background-image: url(../images/flags/4x3/cy.svg);
}
.flag-icon-cz {
  background-image: url(../images/flags/4x3/cz.svg);
}
.flag-icon-de {
  background-image: url(../images/flags/4x3/de.svg);
}
.flag-icon-dk {
  background-image: url(../images/flags/4x3/dk.svg);
}
.flag-icon-ee {
  background-image: url(../images/flags/4x3/ee.svg);
}
.flag-icon-es {
  background-image: url(../images/flags/4x3/es.svg);
}
.flag-icon-fi {
  background-image: url(../images/flags/4x3/fi.svg);
}
.flag-icon-fr {
  background-image: url(../images/flags/4x3/fr.svg);
}
.flag-icon-gb {
  background-image: url(../images/flags/4x3/gb.svg);
}
.flag-icon-gr {
  background-image: url(../images/flags/4x3/gr.svg);
}
.flag-icon-hr {
  background-image: url(../images/flags/4x3/hr.svg);
}
.flag-icon-hu {
  background-image: url(../images/flags/4x3/hu.svg);
}
.flag-icon-ie {
  background-image: url(../images/flags/4x3/ie.svg);
}
.flag-icon-is {
  background-image: url(../images/flags/4x3/is.svg);
}
.flag-icon-it {
  background-image: url(../images/flags/4x3/it.svg);
}
.flag-icon-li {
  background-image: url(../images/flags/4x3/li.svg);
}
.flag-icon-lt {
  background-image: url(../images/flags/4x3/lt.svg);
}
.flag-icon-lu {
  background-image: url(../images/flags/4x3/lu.svg);
}
.flag-icon-lv {
  background-image: url(../images/flags/4x3/lv.svg);
}
.flag-icon-mt {
  background-image: url(../images/flags/4x3/mt.svg);
}
.flag-icon-nl {
  background-image: url(../images/flags/4x3/nl.svg);
}
.flag-icon-no {
  background-image: url(../images/flags/4x3/no.svg);
}
.flag-icon-pl {
  background-image: url(../images/flags/4x3/pl.svg);
}
.flag-icon-pt {
  background-image: url(../images/flags/4x3/pt.svg);
}
.flag-icon-ro {
  background-image: url(../images/flags/4x3/ro.svg);
}
.flag-icon-se {
  background-image: url(../images/flags/4x3/se.svg);
}
.flag-icon-si {
  background-image: url(../images/flags/4x3/si.svg);
}
.flag-icon-sk {
  background-image: url(../images/flags/4x3/sk.svg);
}

.flag-link-text {
  padding-left: 5px;
  color: #000;
}