$background-color: #F7F4F0;
$dark-grey: #4D4D4D;
$light-grey: #E6E6E6;
$hr-light-grey: #D5D5D5;
$black: #000;
$white: #FFF;
$green: #006833;
$light-brown: #999999;
$blue: #49639C;
$red: #FF0000;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $black;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 12rem;
  min-height: 100%;
}

h3 {
  font-weight: 900;
}

h4 {
  font-size: 21px;
}

p {
  font-size: 14px;
}

.white {
  background-color: white;
}

.container {
  max-width: 620px;
}

a {
  color: $green;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: darken($green, 5%);
  }
}

ul {
  list-style: none;
}

button {
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  background: none;
}

.text-black {
  color: $black;
}

.text-red {
  color: $red;
}

button.primary {
  background-color: $blue;
  color: $white;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease-out 0s;
  border-radius: 1px;
  font-weight: 900;
  margin-top: 20px;
  border-bottom: 3px solid darken($blue, 10%);
  @media all and (max-width:480px) {
    width: 100%;
    display: block;
  }
}

label {
  font-size: 14px;
  color: $black;
  font-weight: 400;
  display: table-caption;
}

input {
  display: block;
  padding: 9px;
  width: 100%;
  background: #FFFFFF;
}

.input-group-addon,
input {
  border: 2px solid #E6E6E6;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.15);
  border-radius: 1px;
}

.input-group-addon {
  background: $light-grey;
  color: $black;
}

.label-input.input-group[class*=col-] {
  float: none;
  padding-right: 15px;
  padding-left: 15px;

  label {
    padding-left: 15px;
  }
}

.label-input {
  @media screen and (max-width: 766px) {
    margin-bottom: 10px;
  }
}

header {
  .header-bar {
    background-color: $dark-grey;
    height: 33px;

    button {
      height: 33px;
      background-color: $light-grey;
      padding: 0 11px;

      &:hover {
        background-color: darken($light-grey, 5%);
      }
    }

    a {
      color: $white;
      line-height: 33px;
      font-size: 10px;
      text-decoration: none;

      &:first-child {
        padding-right: 18px;
      }
    }
  }

  .logo-bar {
    padding: 12px 0;
    background-color: $white;

    p {
      margin: 0;
      line-height: 48px;
      @media screen and (max-width: 767px) {
        margin-top: 1em;
        text-align: left;
        line-height: 24px;
      }
    }
  }
}

footer.footer {
  hr {
    border-top: 1px solid $light-brown;
    margin-bottom: 5px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.tara-logo {
  background-image: url("/images/tara.svg");
  background-repeat: no-repeat;
  height: 48px;
}

.method-block {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  padding: 0 15px 15px;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.35);
  @media screen and (max-width: 766px) {
    padding: 0 10px 10px;
  }

  .id-card {
    background-image: url("/images/idkaart.svg");
    background-repeat: no-repeat;
    height: 67px;
    margin-top: 2em;
  }

  .mob-id {
    background-image: url("/images/mobiilid.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 67px;
    margin-top: 2em;
    margin-left: 2em;
    @media screen and (max-width: 766px) {
      margin-left: 0;
    }
  }

  .method-chevron {
    margin-top: 3.5em;
    @media screen and (max-width: 766px) {
      margin-top: 20px;
    }
    @media screen and (max-width: 480px) {
      float: right;
      margin-top: 0;
      font-size: 14px;
    }
  }
}

.collapsing {
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.35);
}

.block-hr {
  width: 100%;
  height: 1px;
  position: relative;
  z-index: 1;
  background: $white;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2.5%;
    height: 1px;
    width: 94%;
    border-top: 1px solid $hr-light-grey;
  }
}

.method-block-collapsible {
  padding: 15px;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.35);
}

#collapseOne .white div a {
  margin-top: 3em;
}

#collapseMob > .white .method-block-collapsible > .row {
  margin-left: 0;
  margin-right: 0;
}

.col-xs-50 {
  @media screen and (max-width: 766px) and (min-width: 480px) {
    width: 50%;
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }
  @media screen and (max-width: 480px) {
    text-align: center;
    width: 100%;
    float: none !important;
  }
}

.help-link {
  padding-top: 2.3em;
  @media screen and (max-width: 480px) {
    display: block;
    text-align: center;
    width: 100%;
  }
}

.icon-link {
  text-decoration: none;
}

.eu-logo {
  background-image: url("/images/EU.svg");
  background-repeat: no-repeat;
  height: 29px;
  margin-left: -15px;
  margin-top: 1.5em;
}

ul.footer-links {
  padding-top: 7px;
  text-align: right;
  list-style-position: inside;
  padding-left: 0;
  margin-right: -15px;
  margin-left: -15px;

  li:first-child {
    padding-bottom: 4px;
  }
  @media screen and (max-width: 766px) {
    list-style: none;
    text-align: left;
  }
}

.error-box {
border: 2px solid $red;
padding: 15px 20px;
margin: 0 15px 20px 15px;;
}

.panel {
  margin-bottom: 0;
  background-color: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;  
}
