<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="5" packages="org.apereo.cas.logging">
    <Properties>

        <!-- The default logs output directory -->
        <Property name="tara.log.dir">/var/log/cas</Property>

        <!-- Log record format: -->
        <Property name="tara.log.pattern">{&quot;date&quot;:&quot;%d{yyyy-MM-dd'T'HH:mm:ss,SSSZ}&quot;, &quot;level&quot;:&quot;%level&quot;%notEmpty{, &quot;requestId&quot;:&quot;%X{requestId}&quot;}%notEmpty{, &quot;sessionId&quot;:&quot;%X{sessionId}&quot;}, &quot;logger&quot;:&quot;%logger&quot;, &quot;thread&quot;:&quot;%thread&quot;, &quot;message&quot;:&quot;%enc{%msg}{JSON}&quot;}%n</Property>

        <!-- Log record format: error details -->
        <Property name="tara.error_details_log.pattern">{&quot;date&quot;:&quot;%d{yyyy-MM-dd'T'HH:mm:ss,SSSZ}&quot;, &quot;level&quot;:&quot;%level&quot;%notEmpty{, &quot;requestId&quot;:&quot;%X{requestId}&quot;}%notEmpty{, &quot;sessionId&quot;:&quot;%X{sessionId}&quot;}, &quot;throwable&quot;:&quot;%enc{%throwable}{JSON}&quot;}%n</Property>

        <!-- Log record format: cas_audit.log -->
        <Property name="tara.audit_log.pattern">{&quot;request&quot;:&quot;%enc{%X{method} %X{scheme}://%X{serverName}:%X{serverPort}%X{requestUri}}{JSON}&quot;, &quot;requestId&quot;:&quot;%X{requestId}&quot;, &quot;sessionId&quot;:&quot;%X{sessionId}&quot;, &quot;message&quot;:&quot;%enc{%msg}{JSON}&quot;}%n</Property>

        <!-- Log record format: stats.log -->
        <Property name="tara.stats_log.pattern">%m%n</Property>

        <!-- Log record format for syslog. Note that the syslog facility code is constant: 'local1' (17). And syslog priority is assigned error (3) in case of ERROR level, otherwise 'notice' (5) shall be used) -->
        <Property name="tara.syslog.pattern">&lt;%level{WARN=141, DEBUG=141, ERROR=139, TRACE=141, INFO=141}&gt;1 %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} ${hostName} rak-tara.log - - - ${sys:tara.log.pattern}</Property>

        <!-- Log record format for syslog. Note that the syslog facility code is constant: 'local1' (17). And syslog priority is assigned error (3) in case of ERROR level, otherwise 'notice' (5) shall be used) -->
        <Property name="tara.audit.syslog.pattern">&lt;%level{WARN=141, DEBUG=141, ERROR=139, TRACE=141, INFO=141}&gt;1 %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} ${hostName} rak-tara_audit.log - - - ${sys:tara.audit_log.pattern}</Property>

        <!-- Log record format for syslog. Note that the syslog facility code is constant: 'local1' (17). And syslog priority is assigned error (3) in case of ERROR level, otherwise 'notice' (5) shall be used) -->
        <Property name="tara.stats.syslog.pattern">&lt;%level{WARN=141, DEBUG=141, ERROR=139, TRACE=141, INFO=141}&gt;1 %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} ${hostName} rak-tara_stats.log - - - ${sys:tara.stats_log.pattern}</Property>


        <!-- The default log verbosity level for cas.log -->
        <Property name="tara.log.level">info</Property>

        <!-- The default log verbosity level for console -->
        <Property name="tara.console.level">off</Property>

    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %-5level %X{requestId}/%X{sessionId} %logger{1.} [%thread] ---  &lt;%enc{%m}&gt;%throwable%n}"/>
        </Console>
        <!-- NB! Uncomment and configure this section when using sending log events to tara-stat service; -->
        <!--Syslog name="taraStatServiceAppender"
                host="tara-stat-rakendus.ci.kit" port="5001" protocol="TCP"
                charset="UTF-8" facility="AUTH" newLine="true" >
            <SSL>
                <KeyStore   location="/path/to/log4j2-keystore.jks"      password="changeit"/>
                <TrustStore location="/path/to/log4j2-truststore.jks"    password="changeit"/>
            </SSL>
        </Syslog-->

        <!-- NB! Uncomment and configure this section when sending log events to external syslog server -->
        <!--Socket name="taraSyslog" host="example_host" port="example_port" protocol="SSL">
            <PatternLayout charset="UTF-8" pattern="${sys:tara.syslog.pattern}" alwaysWriteExceptions="false"/>
            <SSL>
                <KeyStore   location="/path/to/log4j2-keystore.jks"      password="changeit"/>
                <TrustStore location="/path/to/log4j2-truststore.jks"    password="changeit"/>
            </SSL>
        </Socket>
        <Socket name="taraAuditSyslog" host="example_host" port="example_port" protocol="SSL">
            <PatternLayout charset="UTF-8" pattern="${sys:tara.audit.syslog.pattern}" alwaysWriteExceptions="false"/>
            <SSL>
                <KeyStore   location="/path/to/log4j2-keystore.jks"      password="changeit"/>
                <TrustStore location="/path/to/log4j2-truststore.jks"    password="changeit"/>
            </SSL>
        </Socket>
        <Socket name="taraStatsSyslog" host="example_host" port="example_port" protocol="SSL">
            <PatternLayout charset="UTF-8" pattern="${sys:tara.stats.syslog.pattern}" alwaysWriteExceptions="false"/>
            <SSL>
                <KeyStore   location="/path/to/log4j2-keystore.jks"      password="changeit"/>
                <TrustStore location="/path/to/log4j2-truststore.jks"    password="changeit"/>
            </SSL>
        </Socket-->

        <RollingFile name="statisticsFileAppender" append="true"
                     filePattern="${sys:tara.log.dir}/stats-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${sys:tara.stats_log.pattern}"/>
            <CronTriggeringPolicy schedule="0 0 * * * ?"/> <!-- Log rotation once the date/time pattern no longer applies to the active file. This policy accepts an interval attribute which indicates how frequently the rollover should occur based on the time pattern and a modulate boolean attribute. -->
            <DirectWriteRolloverStrategy>
                <Delete basePath="${sys:tara.log.dir}">
                    <IfFileName glob="stats-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingFile>
        <RollingFile name="file" append="true"
                     filePattern="${sys:tara.log.dir}/cas-%d{yyyy-MM-dd}.log">
            <PatternLayout alwaysWriteExceptions="false" pattern="${sys:tara.log.pattern}" />
            <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            <DirectWriteRolloverStrategy>
                <Delete basePath="${sys:tara.log.dir}">
                    <IfFileName glob="cas-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingFile>
        <RollingFile name="errorFile" append="true"
                     filePattern="${sys:tara.log.dir}/cas_error-%d{yyyy-MM-dd}.log">
            <PatternLayout alwaysWriteExceptions="false" pattern="${sys:tara.error_details_log.pattern}" />
            <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            <DirectWriteRolloverStrategy>
                <Delete basePath="${sys:tara.log.dir}">
                    <IfFileName glob="cas_error-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingFile>
        <RollingFile name="auditlogfile" append="true"
                     filePattern="${sys:tara.log.dir}/cas_audit-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${sys:tara.audit_log.pattern}"/>
            <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            <DirectWriteRolloverStrategy>
                <Delete basePath="${sys:tara.log.dir}">
                    <IfFileName glob="cas_audit-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingFile>
        <!-- Files older than 1 day are deleted. -->
        <RollingFile name="perfFileAppender" append="true"
                     filePattern="${sys:tara.log.dir}/perfStats-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%m%n"/>
            <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            <DirectWriteRolloverStrategy>
                <Delete basePath="${sys:tara.log.dir}">
                    <IfFileName glob="perfStats-*.log" />
                    <IfLastModified age="1d" />
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingFile>

        <CasAppender name="casAudit">
            <AppenderRef ref="auditlogfile" />
        </CasAppender>
        <CasAppender name="casFile">
            <AppenderRef ref="file" />
        </CasAppender>
        <CasAppender name="casConsole">
            <AppenderRef ref="console" />
        </CasAppender>
        <CasAppender name="casPerf">
            <AppenderRef ref="perfFileAppender" />
        </CasAppender>
    </Appenders>
    <Loggers>
        <AsyncLogger name="nz.net.ultraq.thymeleaf" level="error" additivity="false" >
            <AppenderRef ref="casConsole" level="${sys:tara.console.level}" />
            <AppenderRef ref="errorFile" level="error" />
            <AppenderRef ref="casFile" level="${sys:tara.log.level}" />

            <!-- Uncomment when using syslog appender -->
            <!--AppenderRef ref="taraSyslog" level="${sys:tara.log.level}" /-->
        </AsyncLogger>
        <AsyncLogger name="org.pac4j" level="info" additivity="false" >
            <AppenderRef ref="casConsole" level="${sys:tara.console.level}" />
            <AppenderRef ref="errorFile" level="error" />
            <AppenderRef ref="casFile" level="info" />

            <!-- Uncomment when using syslog appender -->
            <!--AppenderRef ref="taraSyslog" level="${sys:tara.log.level}" /-->
        </AsyncLogger>
        <AsyncLogger name="org.apereo.cas" level="warn" additivity="false" >
            <AppenderRef ref="casConsole" level="${sys:tara.console.level}" />
            <AppenderRef ref="errorFile" level="error" />
            <AppenderRef ref="casFile" level="${sys:tara.log.level}" />

            <!-- Uncomment when using syslog appender -->
            <!--AppenderRef ref="taraSyslog" level="${sys:tara.log.level}" /-->
        </AsyncLogger>
        <AsyncLogger name="ee.ria" level="${sys:tara.log.level}" additivity="false" >
            <AppenderRef ref="casConsole" level="${sys:tara.console.level}" />
            <AppenderRef ref="errorFile" level="error" />
            <AppenderRef ref="casFile" level="${sys:tara.log.level}" />

            <!-- Uncomment when using syslog appender -->
            <!--AppenderRef ref="taraSyslog" level="${sys:tara.log.level}" /-->
        </AsyncLogger>
        <AsyncLogger name="auditLog" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="casConsole" level="${sys:tara.console.level}" />
            <AppenderRef ref="casAudit"/>
            <AppenderRef ref="errorFile" level="error" />
            <AppenderRef ref="casFile" level="${sys:tara.log.level}" />

            <!-- Uncomment when using syslog appender -->
            <!--AppenderRef ref="taraAuditSyslog" level="${sys:tara.log.level}" /-->
        </AsyncLogger>
        <AsyncLogger name="ee.ria.sso.statistics.StatisticsHandler" level="debug" additivity="false">
            <AppenderRef ref="statisticsFileAppender"/>

            <!-- Uncomment when using syslog appender -->
            <!--AppenderRef ref="taraStatsSyslog"/-->
        </AsyncLogger>
        <AsyncLogger name="perfStatsLogger" level="info" includeLocation="true" additivity="false">
            <AppenderRef ref="casPerf"/>
        </AsyncLogger>
        <AsyncLogger name="ee.ria.sso.statistics.TaraStatHandler" level="info" additivity="false">
            <!-- Uncomment when using Tara-Stat service -->
            <!--AppenderRef ref="taraStatServiceAppender"/-->

            <AppenderRef ref="casConsole" level="${sys:tara.console.level}" />
        </AsyncLogger>
        <AsyncRoot level="warn">
            <AppenderRef ref="casConsole" level="${sys:tara.console.level}" />
            <AppenderRef ref="casFile" level="${sys:tara.log.level}" />
            <AppenderRef ref="errorFile" level="error" />
            <!-- Uncomment when using syslog appender -->
            <!--AppenderRef ref="taraSyslog" level="${sys:tara.log.level}" /-->
        </AsyncRoot>
    </Loggers>
</Configuration>
