.c-form {
  &__step {
    display: none;
    &.is-active {
      display: block;
    }
  }
  .control-code {
    font-size: 30px;
    color: #003168;
    font-weight: 700;
    @media (max-width: $breakpoint-mobile) {
      font-size: 24px;
    }
  }
  table {
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
    tr {
      td {
        max-width: 350px;
        vertical-align: top;
        padding-bottom: 20px;
        @media (max-width: $breakpoint-mobile) {
          display: block;
          max-width: inherit;
        }
        &.col-label {
          white-space: nowrap;
          padding-right: 20px;
          @media (max-width: $breakpoint-mobile) {
            padding: 0;
          }
        }
      }
      &:last-child {
        td {
          padding-bottom: 0;
        }
      }
    }
  }
}

.form-label {
  display: block;
  padding: 16px 0;
  color: #5d6071;
  text-align: right;
  line-height: 1;
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    font-weight: 500;
  }
}
.form-control {
  width: 100%;
  padding: 13px 20px;
  color: #5d6071;
  border: 2px solid #5d6071;
  border-radius: 10px;
  &.is-invalid {
    border-color: #fc7376;
  }
}
.input-group {
  display: flex;
  width: 100%;
  border: 2px solid #5d6071;
  border-radius: 10px;
  .form-control {
    flex: 1 1 auto;
    padding: 13px 20px;
    overflow-x: hidden;
    border: 0;
  }
  &.is-invalid {
    border-color: #fc7376;
  }
}
.input-group-prepend {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #5d6071;
  background-color: #f2f3f3;
  border-radius: 10px 0 0 10px;
}
.invalid-feedback {
  margin-top: 17px;
  padding: 12px 20px;
  color: #5d6071;
  background-color: #fdb9b7;
  box-shadow: 0 5px 8px 1px rgba(57, 68, 77, 0.35);
  border-radius: 10px;
  position: relative;
  font-size: 24px;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fdb9b7;
    position: absolute;
    top: -12px;
    left: 20px;
  }
  &.is-hidden {
	display: none;
  }
}

.alert {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  color: #5d6071;
  @media (max-width: $breakpoint-mobile) {
    margin-top: 15px;
    padding: 15px;
    border-radius: 0;
  }
  h2 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #003168;
    font-weight: 400;
    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 10px;
      font-size: 22px;
    }
  }
  p {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  a {
    color: #5d6071;
  }
  table {
    th, td {
      padding: 5px;
    }
    th {
      font-weight: 400;
      text-align: right;
    }
  }
}
.alert-error {
  background-color: #fdb9b7;
  border: 4px solid #fc7376;
  font-size: 24px;
  @media (max-width: $breakpoint-mobile) {
    border-width: 2px;
  }
}
.alert-warning {
  background-color: #fcf8e3;
  border: 4px solid #faebcc;
  @media (max-width: $breakpoint-mobile) {
    border-width: 2px;
  }
}
.alert-neutral {
  background-color: #fff;
}
.alert-popup {
  display: none;
  max-width: 700px;
  padding-right: 60px;
  position: absolute;
  bottom: 5%;
  right: 10%;
  @media (max-width: $breakpoint-mobile) {
    max-width: inherit;
    margin: 20px 0 0;
    position: relative;
    bottom: auto;
    right: auto;
  }
  &.show {
    display: block;
  }
  .close {
    width: 30px;
    height: 30px;
    color: #5d6070;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: 2px solid #5d6070;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    @media (max-width: $breakpoint-mobile) {
      top: 10px;
      right: 10px;
    }
    cursor: pointer;
    span {
      display: block;
      line-height: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
