.c-header {
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(157, 159, 180, 0.3);
  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 5px;
  }
  &__logo {
    line-height: 1;
  }
  &__logo-link {
    display: inline-flex;
    align-items: center;
    height: 120px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    @media (max-width: $breakpoint-mobile) {
      height: 60px;
      font-size: 16px;
    }
    img {
      margin-right: 20px;
      width: 72px;
      height: auto;
      @media (max-width: $breakpoint-mobile) {
        margin-right: 15px;
        width: 32px;
      }
    }
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}
