.c-header-bar {
  color: #fff;
  background-color: #003168;
  @media (max-width: $breakpoint-mobile) {
    min-height: 60px;
    padding: 9px 0;
  }
  p {
	padding: 17px 0;
    @media (max-width: $breakpoint-mobile) {
      font-size: 14px;
	  padding: 10px 0;
    }
  }
}